<%# Formulaire de Modif %>


<div class="">

<h1 class='titre'>Modifier le site web</h1>

<%= render "form", siteweb: @siteweb %>

<br>

<div>
  <%= link_to "Show this siteweb", @siteweb %> |
  <%= link_to "Back to sitewebs", sitewebs_path %>
</div>
</div>
