<%# Formulaire de Modif %>


<div class="formulaire bg">

<h1 class='titre'>Modifier le site web</h1>

<div class='marg'>
  <%= render "form", siteweb: @siteweb %>
</div>

<div>
  <button class='btn'> <%= link_to "Voir le site web", @siteweb %></button>

  <button class='btn'> <%= link_to "Retour", sitewebs_path %> </button>

</div>
</div>
