<%# Hors de la card %>


<div class="fond ">

<p style="color: green"><%= notice %></p>

<img class='imgprincip'alt='logo control+c'src="https://pbs.twimg.com/profile_images/471028351797174272/t5sIKSMd_400x400.jpeg">

<div class="modif" id="sitewebs">
  <% @sitewebs.each do |siteweb| %>
    <%= render siteweb %>
    <p>
      <%= link_to "Show this siteweb", siteweb %>
    </p>
  <% end %>
</div>
  <div class="modif">
<%= link_to "New siteweb", new_siteweb_path %>

  </div>
</div>
