<%# Hors de la card %>


<div class="bg">

<p style="color: green"><%= notice %></p>

<div class='center'>
</div>

<div class="modif padd" id="sitewebs">
  <% @sitewebs.each do |siteweb| %>
    <%= render siteweb %>
    <p>
      <button class='btn decal'> <%= link_to "Montrer le site web", siteweb %> </button>
    </p>
  <% end %>
</div>
  <div class="modif">
 <%= link_to "Créer un nouveau site web", new_siteweb_path, class:"newwebsite decal" %>

  </div>
</div>
