<%# Formulaire de création %>


<div class="bg base">


<h1 class='titre'>Nouveau site web</h1>

<div class=''>
<%= render "form", siteweb: @siteweb %>
</div>

<br>

<div>
  <button class='btn'> <%= link_to "Retour", sitewebs_path %> </button>
</div>

</div>
